<div class="products-info">
    <img src={{this.imgDir}} alt={{this.name}}>
    <h3>{{this.name}}</h3>
    <div class="price">
        <p class="real-price">R$ <s>{{this.realPrice}}</s></p>
        <p class="off-price">R$ {{this.offPrice}}</p>
    </div>      
   
    <a href={{route}} class="bnt-item">Ver item</a>
</div>